* {
    margin: 0;
    padding: 0;
}
body {
    background: url(../images/bkg_food4.jpg) #f5f5f5;
    color: #333333;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.8em;
    margin: 0 !important;
    overflow-x: hidden;
    padding: 0 !important;
    position: relative;
    text-align: center;
}
.wrapper {
    max-width: 1230px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: left;
    background: #f5f5f5;
    -webkit-box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
    flex-direction: column;
    margin: 0;
    min-height: 100%;
    position: relative;
}
#top {
    background: #fff;
    float: left;
    text-align: center;
    width: 100%;
}
#top .container .center{
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
#navition .container .center{
    background: #343434;
    
}
.cont-header{
    background: #fff;
}
#top_mobile{display: none;background: #111111 none repeat scroll 0 0;
    float: left;
    text-align: center;
    width: 100%;}
.header-top-left {
    float: left;
    width: auto;
    margin-top: 5px;
}
.menu_slider{height: 350px;margin-top: 10px;clear: both;display: block;z-index:10000}
.slider{
    width: 100%;
    float: right;
    height: 350px;
    overflow: hidden;
}
.slider1{width:100%}
.ads ul li{list-style: none;padding: 25px 0;}
.ads ul li:last-child{float:right;}
.ads ul li:first-child{float: left;}
.right-block {
    float: right;
}
#cart{width: 120px;margin-top: 24px;position: relative;}
#cart p{color: #fff;font-weight: 500;}
.cart{position: relative;}
.icon-c {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
}
.icon-c i {
    color: #ff5e00;
    font-size: 20px;
}
.text-shopping-cart {
    font-size: 14px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 4px;
    line-height: 100%;
    text-transform: uppercase;
    padding-right: 5px;
    padding-left: 45px;
    padding-top: 14px;
}
.header-top-left ul li{list-style: none;float: left;margin: 2px 0 2px 0 ;font-size:13px}
.header-top-left ul li a{color: #444;font-weight: 400;margin: 0 10px 0 0;}
.header-top-left ul li i{margin-right: 4px;color: #444;}
.header-left {
    float: left;
    margin: 10px 0;
    padding: 0;
    width: 20%;
}
.center-block{
    float: left;
    margin-left: 30px;
    padding: 20px 0 0 0; }
.center-block ul li{
    list-style: none;
    float: left;
    margin-left: 15px;
    padding: 4px 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;}
.center-block ul li a{color: #333;font-weight: 400;font-size: 14px;}
.center-block ul li:HOVER{background: #ff911d}
.center-block ul li:HOVER a{color: #fff}
.hotproduct{margin-top: 10px;width: 100%;}
.content_left{width: 270px;float: left;}
.content_right{width: 1060px;float:right;}
.menu-icon{
    min-width: 37px;
    text-align: center;
    padding-left: 4px;
    margin: 0 0 0 -10px;
    display: inline-block;
}
.product_menu_item a{
    color: #666;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    padding: 4px 2px 5px 9px;
    display: block;
}
.ul_mainmenu{margin-bottom: 0;}
.product_menu{
    float: left;
    background: #fff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 10000;
    overflow:hidden;
}
.product_menu:hover{overflow:visible;}
.product_menu ul li{
    list-style: none;
    padding: 1px 9px;
    position: relative;
    z-index: 1000;
    margin: 1px 0 0px 0;
    background: #fff;
}
.product_menu ul li:last-child a{
    border: none;
}
.product_menu ul li:HOVER ul{display: block;}
.product_menu>ul>li>span{
    position: relative;
    padding: 4px 2px 5px 9px;
}

.product_menu ul li span:hover{color: #0083c1;}
.product_menu ul li span a{
    color: #666;
    text-transform:initial;
    font-weight: 400;
    font-size: 14px;
}
.fa-caret-right{display: none !important;}
.product_menu ul li span a:hover{color: #25B430}
.product_menu ul li ul{
    display: none;
    position: absolute;
    left: 100%;
    top: 0px;
    background: #fff;
    width: 250px;
    z-index: 10000;
}
.right-icon{display: none}
.nav-pills li ul li{list-style: none;border-top: 1px solid #eee;padding: 6px 0 6px 10px;}
.nav-pills li ul li a{color: #23527c;font-size: 12px !important;}
.nav-pills li ul li:first-child{margin-top: 7px;}
#slider{width: 1060px;float: right;overflow: hidden;position: relative;margin-top: 10px;}
.hot_product_cat{
    width: 79%;
    float: right;
}
.product_images{
    text-align: center;overflow: hidden;position: relative;padding: 7px;
    width: 100%;
    padding: 3px;
    background: #fff;
}
.product_item .product_images img{max-width: 100%;}
.product_image li{list-style: none;}
.productcat_title{
    background: url("../images/bg-title-block.png") repeat-x left bottom transparent;
    padding: 7px 0;margin: 10px 0;overflow: hidden;
    padding-bottom: 12px;
    margin-bottom: 20px;
}
.viewall{float: right;width: 30%;text-align: right;padding: 7px 10px;}
.productcat_name{width: 70%;float: left;font-size: 15px;font-weight: normal}
.viewall a{font-style: italic;color: #43b728 !important;text-transform: capitalize !important;font-size: 11px !important;font-weight: 400 !important;}
.productcat_title h2{font-size: 14px;text-transform: uppercase;padding: 0 7px;font-weight: 500;color: #333}
.product_item{background: #fff;margin-bottom: 10px;}
.product_item .product_detail{padding: 7px;}
.product_item .product_detail .product_name{border-bottom:1px solid #ccc; }
#clear{clear: both;}
.new_product{
    float: left;
    width: 100%;
}
.new_product .ad{
    padding: 1px;
}
.new_product .ad img{width: 100%;}
.block_new_product{
    margin: 10px 0;
    background: #fff;
    border-radius:2px;
}
.newproducttitle{
    color: #fff;
    background: #1d71aa;
    font: 500 15px/1.35 Roboto, Helvetica Neue, Verdana, Arial, sans-serif;
    text-transform: uppercase;
    position: relative;
    padding: 0;
    margin-bottom: 0;
    min-width: 100%;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
}
.newproducttitle p{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}
.new_product_images{float: left;width: 30%;}
.new_product_detail{width: 67%;float: right;}
.newproductcont ul li{list-style: none;width: 50%;float: left;}
.newproductcont{max-height: 300px;display: block;}
.new_product_item{padding: 15px 10px;border: 1px solid #ebebeb;overflow: hidden;min-height: 105px;background: #fff;}
.newproductcont .item_pos0{border-left: none;border-right: none;}
.newproductcont .item_pos1{border-left: none;}
.newproductcont .item7,.newproductcont .item8{border-bottom: none;}
.new_product_item{
    border-top: none;
}
.new_products .product_price,.new_product_item .product_price{float: left;text-align: left;}
.new_products .product_price p,.new_product_item .product_price p{color: #ffa415;font-weight: 500;font-size: 15px;}
.new_products .sale_pricebeauty,.new_product_item .sale_pricebeauty{margin-left: 7px;float: left;}
.new_products .sale_pricebeauty p,.new_product_item .sale_pricebeauty p{color:#333;font-size: 11px;text-decoration: line-through;}
.new_products .new_product_name a,.new_product_item .new_product_name a{color: #666;font-weight: 500;}
.hot_product_item{
    padding: 10px;
    display: block;
    overflow: hidden;
}
.hot_product_item .product_images img{width: 100%;}
.hot_product_item .product_detail .product_name,.product_item .product_detail .product_name{line-height: 17px;padding-bottom: 4px;margin-bottom: 3px;min-height: 25px;  min-height: 40px;}
.hot_product_item .product_detail .product_price,.product_item .product_detail .product_price{
    width: 50%;
    float: left;
    text-align: right;
}
.hot_product_item .product_detail .sale_pricebeauty,.product_item .product_detail .sale_pricebeauty{line-height: 17px;float: right;width: 50%;}
.hot_product_item .product_detail .sale_pricebeauty p,.product_item .product_detail .sale_pricebeauty p{
    color: #666; text-decoration: line-through;font-size: 11px;margin-top: 3px;
    text-align: left;
    margin-left: 5px;
    font-size: 13px;
}
.hot_product_item .product_detail .product_name a,.product_item .product_detail .product_name a{font-size: 13px;color: #373737;font-weight: 500;text-transform: uppercase;}
.hot_product_item .product_detail .product_price ,.product_item .product_detail .product_price p{color: #ffa415;font-size: 16px;font-weight: 500;}
.list_news_content{
    position: relative;
    height: 220px;
}
.list_news_content .images{
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.list_news_content .images img{width: 100%;}
.list_news_content .cont{position: absolute;left: 0px; top: 145px;z-index: 100;margin-top: 7px;}
.list_news_content .cont h4 a{font-size: 13px;font-weight: 400;color: #000;}
.fist_news_content h4{margin-top: 7px;}
.text-about{
    margin: 0 0 20px;
    float: left;
    width: 100%;
    padding: 10px 20px 5px 5px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 2px solid #43b728;
}

.mobimenuicon{
    display: none;
    width: 50px;
    height: 44px;
    padding: 14px;
    float: left;
}
.mobimenuicon::before, .mobimenuicon::after {
    content: '';
    display: block;
    background: #fff;
    height: 2px;
}
.mobimenuicon span {
    background: #fff;
    display: block;
    height: 2px;
    margin: 6px 0;
}
.left_menu{
    float: left;
    width: 25.64% !important;
    border-radius: 2px;
    min-height: 270px;
    z-index: 10000 !important;
    position: relative;
    padding-right: 2%;
    margin-top: 10px;
}
.content_detail {
    width: 74.36% !important;
    float: right;
    margin-top: 10px;
}
.product_detail{
    padding: 15px 0;
    height: 100%;
    background: #fff;
    border-top: 2px solid #5fb805;
    text-align: center;
    border-bottom:2px solid #5fb805;
}
.product_content{
    padding: 10px;
    height: 100%;
    background: #fff;
    margin-top: 10px;
}
.product_content img{height: auto !important;}
.product_content li{list-style: inside;}
.product_content h1{font-size: 16px;font-weight: 500;}
.product_content h2{font-size: 15px;font-weight: 500;}
.product_content h3{font-size: 14px;font-weight: 500;}
.thank_order img{width: 50% !important;}
.detail_menu{width: 100% !important;}

.product_image{width: 35%;float: left;}
.product_info{width: 62%;float: right;text-align: left;}
.product_image .image{width: 100%;}
.product_image .image img{width: 100%}
.product_images_list img{width: 80px !important;margin: 3px 3px 10px 3px;}
.product_images_list{border: 1px solid #ccc;padding: 2px;width: 100%;height: 70px;overflow: hidden;margin-top:5px;}
#top_mobile .hotline a{color: #fff;}
.product_detail_image{width: 35%;float: left;}
.product_detail_image li{list-style: none;}
.product_detail_image img{width: 100% !important;}
.product_info h1 {
    border-bottom: 1px solid #e6e6e6;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 10px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #666;
    font-weight: 400;
}
.policy ul li {
    border-bottom: 1px solid #e6e6e6;
    list-style: outside none none;
    padding: 10px 0;
}
.wrap-text-content {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    width: 73%;
}
.wrap-text-content h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    text-transform: uppercase;
}
.wrap-text-content span {
    color: #666666;
    font-size: 12px;
    font-style: italic;
    line-height: 21px;
}
.product_content_title{
    border-bottom:1px solid #e9eaec;
    display: block;
    overflow: hidden;
    margin-bottom:15px;
}
.product_content_tit{
    position: relative;
}
.product_content_tit a::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    height: 3px;
    background: #ffa415;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    width: 100%;
}
.product_content_title a{
    padding:7px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 35px;
    font-size: 14px;
    color: #343434 ;
    position: relative;
}
.box-tocart .actions>button {
    display: inline-block;
    width: auto;
    padding: 12px 20px;
    font-size: 14px;
    line-height: 1;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.action.primary, .action-primary {
    background-image: none;
    background: #1979c3;
    border: 1px solid #1979c3;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
}
.action.primary{
    border: 1px solid;
    box-shadow: none;
    border-radius: 25px;
    transition: all 500ms ease;
    backface-visibility: hidden;
    padding: 10px 15px;
    min-height: auto;
    text-transform: uppercase;
}
.primary{
    color: #fff;
    border-color: #189eff;
    background: #189eff;
    font: 600 14px/1.35 Roboto, Helvetica Neue, Verdana, Arial, sans-serif;
    min-width: calc((100% - 120px)/2);
}
#product-buynow:hover{
    color: #fff;
    border-color: #000;
    background: #000;
}
.tocart{
    color: #fff;
    border-color: #000 !important;
    background: #000 !important;
}
.tocart:hover{
    color: #fff;
    border-color: #189eff !important;
    background: #189eff !important;
}
.choise_size{border-bottom: 1px solid #ddd;padding: 3px 0;margin:7px 0; }
.pro_detail ul li{
    list-style: none;
    border:1px solid #ccc;
    padding: 4px 4px;
    display: inline;
    font-size: 13px;
    color: #444;
    margin:1px;
    cursor: pointer;

}
.sizeactive{background: #ff911d;color: #fff !important;border:1px solid #ff911d !important}
.price{color: #ffa415;font-size: 22px;text-transform: uppercase;margin:10px 0; }
.instock, .outstock{color: #111;padding: 7px 0}
.instock span{color: #43b728}
.outstock span{color: red}
.product_cat,.page_content {
    width: 74.36% !important;
    float: right;
    line-height: 25px;
}
.page_content img{max-width: 100%;}
.cat_image img{width: 100%;}
.cat_image{min-height: 200px;overflow: hidden;}
.list_news{min-height: 430px;}
.list_news a{color:#0b79bf;font-size: 15px;}
.content_page{padding: 7px 0;border-top: 1px solid #ccc;overflow: hidden;}
.content_page ul li{float: left;list-style: none;}
.content_page ul li a{padding: 4px 7px;border: 1px solid #333;margin: 3px;color: #444;}
.content_page ul li a:hover{background: #43b728;color: #fff}
.product_in_cart ul li{
    list-style: none;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
    display: block;
    overflow: hidden;
}
.product_in_cart .cart_image {
    width: 19%;
    float: left;
    padding: 3px;
    border: 1px solid #ddd;
}
.product_in_cart .cart_image img{
    width: 100%;
}
.product_in_cart .cart_detail {
    width: 76%;
    float: right;
}
.product_in_cart strong{text-align: right;float: right;font-size: 17px; font-weight: 500;}
.product_in_cart .cart_detail h5 {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3px;
}
.cart_detail_item input {
    width: 20%;
    padding: 1px 10px;
    float: left;
}
.product_in_cart .cart_detail .price1 {
    font-weight: 500;
    color: #25B430;
    font-size: 12px;
    width: 40%;
    float: left;
    margin-left: 5px;
}
.cart_detail_item .cart_trash {
    float: right;
    margin-right: 15px;
}
.shopping_cart_monney_i {
    border-bottom: 1px solid #ff9300;
    padding: 5px 0;
}
.shopping_cart_monney .left {
    float: left;
    text-align: left;
    font-size: 14px;
}
.shopping_cart_monney .right {
    float: right;
    text-align: right;
    font-size: 15px;
    font-weight: 500;
}
.product_in_cart{border: 1px solid #ccc;padding: 5px;}
.product_in_cart .info_title {
    background: #999;
    color: #fff;
    padding: 7px 9px;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 0px !important;
}

.customer_info .form-group{
    margin: 12px 0;
    overflow: hidden;
}
.customer_info{margin-top: 30px;}
.customer_info .form-group input{
    padding: 4px 7px;
    height: 32px;
}
.customer_info .form-group label{
    font-weight: 500;
}
.checkbox{position: relative;}
.checkbox label{margin-left: 20px }
#showShipAddress{position: absolute;left: 0px;top: -2px}
.error{color: #ff0000;font-size: 12px;font-weight: 300;font-style: italic; }
.thank_order{text-align: center;}
.thank_order p{color: #ff911d;font-size: 17px;margin:20px 0; }
.product_menu_item ul{display: none;}
.nav-mobile .product_menu_item{
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
.list_news_item{min-height: 390px; }
.list_news_item .cat_detail{border-bottom:1px solid #ccc;padding-bottom: 5px;min-height: 130px;text-align: left;}
.list_news_item .cat_detail .item_name{padding: 10px 0; font-weight: 500;}
.list_news_item .cat_detail .item_name a{color: #555; font-size: 14px;}
.list_news_item .cat_detail .item_desc{color: #777;}
.fa-caret-right{position: absolute;right: 10px;top: 7px;color: #25B430}
.desktop_menu{position: relative;}
.mainmenu_item{list-style: none;float: left;position: relative;padding: 12px 0;}
.mainmenu_item span{padding: 5px 4px}
.mainmenu_item span a{color: #fff;text-transform: uppercase;font-weight: 450;padding: 7px 15px;position: relative;}
.mainmenu_item span a:hover{background: #fff;color: #0083c1;}
.mainmenu_item ul{display: none;}
.slick-arrow{display: none !important;}
#addedproduct{background: #fff;text-align: justify;margin-top: 10px;text-align: left;position: absolute;left: -10px;padding: 10px; border: 1px solid #ddd;display: none;font-weight: bold;}
.shipping_type{text-align: center;}
.info_title{margin-top: 20px;text-transform: uppercase;}
.product_detail_moreinfo li{list-style: none;}
.product_detail_moreinfo li .more_info_detail{color:#111;}
.more_info_price{font-weight: 500;}
.cart_button_buy{float: left;margin-top: 10px;}
.cart_button_contin{float: right;margin-top: 15px;}
.cart_button_contin a{color: #ff5e00;}
#userNextStepBottom{
    border-radius: 3px;
    font-size: 14px;
    height: 35px;
    padding: 0 30px;
    position: relative;
    text-transform: uppercase;
    vertical-align: top;
    background: #fd6e1d;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fd6e1d),to(#f59000));
    background: -webkit-linear-gradient(top,#f59000,#fd6e1d);
    border-color: #ff3c45;
    font-weight: 500;
    color: #ffffff;
    border: 0px solid #ff3c45;
    cursor: pointer;
    display: inline-block;
}
.cdz-block-title {
    padding: 15px 0;
    border-bottom: 1px solid #e9eaec;
    position: relative;
}
.b-title{
    position: relative;
    display: inline-block;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    padding-left: 20px;
}
.b-title:before {
    content: "";
    width: 6px;
    height: 19px;
    position: absolute;
    left: 0;
    top: 50%;
    background: #ffa415;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hot_news_detail .hot_news_name , .hot_news_detail .hot_news_name a{
    color: #282828;
    font-size: 14px;
    font-weight: 500;
}
.hot_news_desc{
    color: #6e7370;
}
.item-inner {
    border: 1px solid #e9eaec;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    margin-bottom: 10px;
    background: #fff;
    padding: 0;
    border-radius: 7px;
    overflow: hidden;
}
.news_create_date:before {
    display: inline-block;
    font: normal normal 13px/1 FontAwesome;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f073';
    vertical-align: baseline;
    margin: 0 7px 0 0;
}
.hot_news_item {
    border: 1px solid #e9eaec;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    margin-bottom: 10px;
    background: #fff;
    padding: 0;
    border-radius: 7px;
    overflow: hidden;
}
.hot_news_img {
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.hot_news_img img {
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.hot_news_img:hover img{
    -webkit-transform: scale3d(1.2, 1.2, 1);
            transform: scale3d(1.2, 1.2, 1);
}
footer .footer-top {
    background: #43b728;
    padding: 20px 0;
    width: 100%;
    position: relative;
}
.footer-container .fmn{font-weight: 500;display: block;margin: 10px 0;}
.facebook_like{overflow: hidden;display: block;margin: 15px 0;}
.newletter-title{font-size: 17px;font-weight: 500;padding: 5px 15px;}
#form_subscribe {
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
}
#subscribe_email {
    background: #fff;
    border: 0;
    font-size: 13px;
    color: #999999;
    display: block;
    padding: 0 120px 0 10px;
    height: 35px;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}
#form_subscribe .btn {
    background: #ff911d;
    border: medium none;
    border-radius: 0 15x 15x 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -khtml-border-radius: 0 5px 5px 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    height: 35px;
    line-height: 37px;
    padding: 0 15px;
    position: absolute;
    right: 0;
    text-transform: capitalize;
    top: 0;
}
.service-banner-style02 .item {
    text-align: center;
    padding: 30px;
    font-size: 14px;
    color: #444444;
    border-left: 1px solid #f5f3ea;
    list-style: none;
}
.service-banner-style02 .item:last-child{border-right: 1px solid #f5f3ea;}
.service-banner-style02 .item {
    border-color: #f5f3ea;
}
.service-banner-style02 .item-icon span {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background: #f1f3f2;
    border-radius: 100%;
    float: none;
    margin: 0 auto 15px;
    transition: all 500ms ease;
    backface-visibility: hidden;
    font-size: 24px;
    line-height: 70px;
}
.footer-content-top {
    border-top: 1px solid #f5f3ea;
}
.footer-content-middle {
    border-top: 1px solid #f5f3ea;
}
.service-banner-style02 {
    text-align: center;
    margin: 0;
}
.rate_product {
    background: #fff;
    margin-top: 10px;
    padding: 10px 10px;
    height: 100%;
    background: #fff;
}
.rate_product .product_price{
    font-size: 13px;
}
.product_sale_price{
    color: #333;
    font-size: 11px;
    text-decoration: line-through;
}
.cdz-product-labels li{list-style: none;}
.rate_news_item{list-style: inside;}
.rate_news_item a{font-size: 14px ;color: #ffa415;}
.news_detail {
    padding: 20px 20px;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 34px rgb(0 0 0 / 8%);
    border: 0px solid #e1e1e1;
}
.news_detail img{
    max-width: 100%;
}
.istemplate_left{
    float: left;
}
#istemplate{background:#262626 ;padding: 7px 10px;}
.istemplate_right{
    float: right;
    padding: 4px;
}
.istemplate_right a{
    background-color: #82b440;
    box-shadow: 0 2px 0 #6f9a37;
    position: relative;
    font-size: 14px;
    padding: 5px 20px;
    line-height: 1.5;
    color: white;
    border-radius: 4px;
}
.pgwSlider.narrow>.ps-list>li {
    padding: 4px;
    width: 25% !important;
}
.pgwSlider.narrow>.ps-list>li  img{
    border: 1px #CCC solid;
    padding: 4px;
}
.pgwSlider.narrow>ul {
    height: 90px;
}

.hot_product{margin: 0 -10px;}
.hot-sale {
    color: #fff;
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: 8px;
    right: 4px;
    text-transform: uppercase;
    font-size: 14px;
    z-index: 100;
    line-height: 32px;
    min-width: 48px;
    padding: 0 8px;
    background: #ffa415;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.hot-sale:after {
    position: absolute;
    right: -15px;
    bottom: 0;
    content: "";
    border-left: 8px solid #ffa415;
    border-bottom: 8px solid #ffa415;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
}
.hot-sale:before {
    position: absolute;
    right: -15px;
    top: 0;
    content: "";
    border-left: 8px solid #ffa415;
    border-top: 8px solid #ffa415;
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
}
.group-title1 {
    padding-top: 7px;
    border-top: 1px solid #d1d1d1;
    margin-top: 50px;
    position: relative;
    display: block;
    margin-top: 45px;
    margin-bottom: 40px;
    text-align: left;
    padding-bottom: 7px;
    border-bottom: 1px solid #d1d1d1;
}
.group-title1 p {
    position: relative;
    display: inline-block;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
}
.group-title1 p:before {
    content: "";
    width: 6px;
    height: 19px;
    position: absolute;
    left: 0;
    top: 50%;
    background: #ffa415;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.newsletter-group {
    margin-top: 50px;
    text-align: center;
}
.block.newsletter {
    width: 100% !important;
    text-align: left;
    position: relative;
    margin: 0;
    padding: 31px 30px 35px 30px;
    background: #004863;
}
.block.newsletter h2.title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    display: block;
}
.block.newsletter .form.subscribe {
    display: table;
    width: 100%;
}
.block.newsletter .field .control {
    margin-bottom: 0;
    position: relative;
    margin-top: 11px;
    width: 100%;
    display: inline-block;
    padding-right: 145px;
}
.block.newsletter .field .control input {
    display: inline-block;
    background: #fff;
    padding: 10px;
    line-height: 30px;
    height: 34px;
    border-radius: 0;
    color: #aaaaaa;
    font-size: 13px;
    width: 100%;
    font-weight: 400;
}
.block.newsletter .field .actions {
    display: block;
    margin: 0;
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
}
.block.newsletter .field .actions button.subscribe {
    line-height: 32px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    padding: 0 30px;
    background: #ffa415;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.block.newsletter .field {
    margin-right: 5px;
}
.block .title {
    margin-bottom: 10px;
}
.block.newsletter .form.subscribe {
    display: table;
    width: 100%;
}
.footer-content-bottom{
    background: #232323;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    margin-top: 30px;
}
.information-group {
    margin-top: 50px;
}
.information-group .container-inner {
    background: #fff;
    padding: 25px 0 10px 0;
}
.information-group .row {
    margin: 0;
}
.information-group .f-col .title{
    margin-bottom: 7px;
}
.information-group .f-col .title h3 {
    color: #ffa415;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    padding-bottom: 6px;
    position: relative;
}
.information-group .f-col .title h3:after {
    content: "";
    width: 35px;
    height: 2px;
    background: #ffa415;
    position: absolute;
    left: 0;
    bottom: 0;
}
.information-group .f-col {
    margin-bottom: 15px;
    padding: 0;
    padding-left: 30px;
    padding-right: 25px;
    border-right: 1px solid #ebebeb;
}
.search-cart {
    z-index: 5;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 23px;
}
.search-cart .minicart-wrapper {
    float: right;
    margin: 0;
    position: relative;
    z-index: 1;
}
.search-cart .minicart-wrapper .showcart {
    position: relative;
    font-size: 0;
    padding: 0 0 0 35px;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.search-cart .minicart-wrapper .showcart .text {
    position: static;
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    line-height: 30px;
    padding: 5px 0 5px 15px;
    width: auto;
    height: auto;
    font-size: 14px;
    color: #707070;
    text-transform: uppercase;
    margin: 0;
}
.search-cart .minicart-wrapper .showcart:before {
    content: "";
    width: 30px;
    height: 30px;
    background: url(../images/icon_cart.png) center no-repeat;
    position: absolute;
    left: 12px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.minicart-wrapper .action.showcart:before {
    -webkit-font-smoothing: antialiased;
    font-size: 35px;
    line-height: 33px;
    color: #808080;
    font-family: 'icons-blank-theme';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.search-cart .minicart-wrapper .showcart .counter.qty.empty {
    display: inline-block;
    vertical-align: top;
}
.search-cart .minicart-wrapper .showcart .counter.qty {
    position: static;
    font-size: 14px;
    width: auto;
    height: auto;
    line-height: 26px;
    height: 26px;
    margin: 7px 0 0 14px;
    padding: 0;
    width: 42px;
    color: #fff;
    border-radius: 0;
    clear: both;
    background: none;
    background: url(../images/bkg_qty_cart.png);
    text-align: center;
}
.top-search {
    position: absolute;
    right: 15px;
    margin: auto;
    top: 50%;
    width: 340px;
    z-index: 4;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.top-search .control {
    overflow: hidden;
    position: relative;
    border: 0;
    margin: 0;
}
.top-search .control input {
    background: #fff;
    border: 0;
    border-radius: 25px;
    font-size: 14px;
    color: #909090;
    height: 34px;
    padding: 0 40px 0 25px;
    width: 100%;
    position: static;
    margin: 0;
    outline: none;
}
.control .action.search {
    height: 34px;
    width: 34px;
    line-height: 34px;
    background: transparent;
    opacity: 1;
    padding: 0;
    top: 0;
    right: 0;
    position: absolute;
    display: inline-block;
    vertical-align: top;
    border-radius: 0;
    border: 0;
    box-shadow: none;
}
.top-search  .action.search:before {
    color: #61626c;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    width: 34px;
    font-family: 'FontAwesome';
    content: "\f002";
    display: inline-block;
    vertical-align: top;
}
.top-search .action.search:hover:before{
    color: #ffa415 !important;
}
.footer ul li a{
    color: #444;
}
.footer ul li{
    list-style: none;
    padding: 3px 0;
}
.newsletter-group{
    margin-top: 20px;
}
ul.link-follow {
    float: right;
    padding: 6px;
    margin: 0;
}
ul.link-follow li {
    float: left;
    margin: 0 8px;
    list-style: none;
}
ul.link-follow li a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #7f7f7f;
    background: transparent;
    border: 1px solid #7f7f7f;
    border-radius: 100%;
    font-size: 0;
    line-height: 26px;
    padding: 0;
    width: 28px;
    height: 28px;
    text-align: center;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
ul.link-follow li a:before {
    font-size: 14px;
}
ul.link-follow li a:hover {
    color: #ffa415;
    border-color: #ffa415;
}
.breadcrumbs .items {
    padding: 12px 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 1.2rem;
    color: #a3a3a3;
    margin: 0;
    list-style: none none;
}
.breadcrumbs .items .item {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    position: relative;
}
.breadcrumbs .items .item:not(:last-child):after {
    content: "\f0da";
    position: absolute;
    right: 0;
    top: 50%;
    font-family: 'FontAwesome';
    font-size: 13px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.breadcrumbs .item:not(:last-child):after {
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    line-height: 18px;
    content: '\e608';
    font-family: 'icons-blank-theme';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.breadcrumbs .items .item strong {
    color: #ffa415;
    font-weight: 400;
}
.breadcrumbs .items .item:not(:last-child) {
    padding-right: 20px;
    margin-right: 10px;
}
.breadcrumbs .items .item a{color: #444;}
.new_product_i{padding: 7px 10px;border-bottom: 1px solid #ebebeb;overflow: hidden;min-height: 90px;background: #fff;}
.new_products ul li{list-style: none;}
.content_detail .product_detail{border: none;padding: 10px;}