@media (max-width: 1200px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .col-md-2 {
        width: 20% !important;
    }
}
@media (max-width: 1025px) {
	.ul_mainmenu{
		display: none;
	}
	.page_block{
		width: 100%;
	}
	#top {
		display: none;
	}
	#top_mobile{
		display: block;
	}
	header {
		top: 0px;
	}

	#cart button.btn{
		padding: 9px 10px 9px 15px;
	}
	.search {
	    padding-left: 0;
	    position: relative;
	    width: 77%;
	}
	
	.logo-mobile {
		display: block;
	}
	.logo-cleansui {
		margin-top: 7px;
	}
	.menu-haili li {
		float: none;
		overflow-y: hidden;
	}
	#navbar {
		overflow-y: hidden;
	}
	.navbar{
		background-color: white;
	}
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	.navbar-collapse.collapse {

		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin: 7.5px -15px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar-text {
		float: none;
		margin: 15px 0;
	}
	.navbar-collapse.collapse.in {
		height: 100vh!important;
		display: block!important;
	}
	.collapsing {
		overflow: hidden!important;
	}
	.nav-destop{
		display: none;
	}
	.mobimenuicon{display: block !important;
	border: 1px solid #333;}
	#top-links{
		display: none;
	}
	.category_title{display: none;}
	.new_product{display: none;}
	.hot_product_cat{width: 100%;}
	.center-block{display: none;}
	.product_menu{display: none;}
	#slider{width: 100%;}
	.left_menu{display: none;}
	.content_detail{width: 100%}
	.product_image{width: 100%}
	.product_info{width: 100%}
	.product_content img{max-width: 100%;}
	.product_cat{width: 100%}
	.container {
	    padding-right: 10px;
	    padding-left: 10px;
	    margin-right: auto;
	    margin-left: auto;
	}
	.content_detail{
		width: 100%;
		margin: 0 !important;
		padding: 0 !important;
	}
	.product_info{
		margin: 0px !important;
	}
	.breadcrumbs{
		padding-bottom: 5px !important;
	}
	.product_detail_image{
		border: none !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	.class_fist{padding-right: 7px !important}
	.class_end{padding-left: 7px !important}
	.product_detail .product_name a{font-size: 12px;}
	.fist_news_content img{width: 100%;}
	#bread{
		padding: 0 10px;
		width: auto;
	}
	.page_block{
		padding: 0 10px;
	}
	.breadcrumbs .home{
		margin-left: 0px;
		padding-left: 0px;
	}
	.list_news_content{
		border-top: 1px solid #ccc;
		margin-top:10px;
		padding-top: 10px !important;
		margin-left: -10px;
		margin-right: -10px;
	}
	.list_news_content .cont{margin-top: 15px;}
	.newletter-title{padding-left: 15px;}
	.productcat_title p a {
	    font-size: 13px;
	    text-transform: uppercase;
	    padding: 0 5px;
	    font-weight: 500;
	    color: #333;
	}
	#wrap{z-index: 0 !important}
	.pull-right{
		margin-top: 10px;
		cursor: pointer;
		font-size: 15px !important;
		display: block;
		padding: 10px 15px;
	}
	.product_images img {
		width: 100%;
		max-height: 245px;
	}
	.fa-caret-right{display: none !important;}
	.list_policy .wrap-banner{width: 20%;}
	.list_policy .wrap-banner img{width: 80%;}
	.list_policy .wrap-text-content{width: 75%;padding: 0;}
	.wrap-text-content span {
		color: #666666;
		font-size: 11px;
		font-style: italic;
		line-height: 17px;
	}
	.list_policy .wrap-text-content h3 {
		margin-top: 10px;
	}
	.right-block{
		position: absolute;
		top: 20px;
		right: 0px;
	}
	#logo img{
		height: 60px;
	}
	.fcart {
		padding: 20px 15px 14px 15px;
	}
	.contacinfo-phone{
		display: none;
	}
	.block-search{
		margin-top: 5px;
		padding-left: 55px;
		border: none;
	}
	.service-banner-style02 li{
		height: 80px;
	}
	.menu_slider{
		padding: 10px 20px;
	}
	#header-search{
		width: 100%;
		border: 1px solid #ebebeb;;
	}
	.header-left{
		position: relative;
	}
	#navition{
		position: absolute;
		left: 10px;
		top: 0px;
		padding-top: 5px;
	}
	.content_right{width: 100%;}
	.product_detail_image{width: 100%;border: 1px solid #ccc;}
	.breadcrumbs li {
		display: inline-block;
		background-color: transparent;
		padding-left: 10px;
		background:none;
		background-position: left center;
		background-repeat: no-repeat;
	}
	.breadcrumbs li strong{background: none;}
	.addtocart{margin-top: 10px;width: 98%;}
	#userNextStepBottom{width: 100%;margin-bottom: 10px;}
	.cart_button_contin{margin-top: 20px;}
	.left_product_menu{display: none;}
	.menu_slider{height: auto;}
	.slider{
		width: 100%;
		height: 160px;
	}
	.breadcrumbs{
		border: none;
	}
	.abs-dropdown{display: none;}
	.cdz-tabs{width: 100%;}
	.service-banner-style02 .item{
		padding: 7px;
	}
	.newsletter_item{display: none;}
	.middle-top{width: 100%;}
	.newsletter_control{width: 70%;margin: 0 5px;}
	#newsletter{width: 100%;}
	.ads{
		margin-top: 10px;
	}
	.mm-listitem__btn{
		padding: 10px 20px !important;
	}
	.mm-listitem:after{
		left: 0px !important;
	}
	.mm-menu{
		background: #fff !important;
	}
	.mm-listitem__text{
		padding-left: 10px !important;
	}
	.mm-panel{
		background: #fff !important;
	}
	.mm-listview li:first-child{
	}
	.nav-pills>li.active>a{
		background: #5ea201 !important;
		padding-left: 10px;
	}
	.r-tabs-accordion-title{
		background: #c09578;
		padding: 5px 10px;
		margin-bottom: 3px;
	}
	.r-tabs-accordion-title a{
		color: #fff;
		text-transform: uppercase;
	}
	.product_info{
		margin: 20px -10px 20px -10px !important;
	}
	.newsletter-footer{
		width: 100%;
	}
	.velaNewsletterFooter .velaContentForm{
		width: 78%;
	}
	.product-review-container{
		width: 100%;
	}
	.newsletter-footer button.action{
		padding: 0 17px;
	}
	.velaNewsletterFooter .control{
		
	}
	.velaNewsletterFooter .velaContentTitle{
		width: 20%;
	}
	.review-add{
		width: 100%;
		float: left;
	}
	.newsletterDescription, .velaFooterTitle{
		display: none;
	}
	.product_detail .product_name a{
		font-size: 14px !important; 
	}
	.hot_product_item_inner{
		min-height: 315px;
	}
	.content_detail_news{
		margin-left: 0px;
		text-align: justify;
	}
	.product_content{
		margin: 0;
	}
}

@media (max-width: 768px) {
	.desktop_menu{display: none !important;;}
	.home-html h4 {
		font-size: 10px;
	}
	.home-aboutus .thuonghieu {
		line-height: 1.3;
	}
	.home-html div:nth-child(2)>h4 {
		border-right: none;
	}
	.header-about .text-whoiam {
		font-size: 28px;
	}
	.home-aboutus .thuonghieu {
		font-size: 25px;
	}
	.product_menu_item a{
		border: none;
		padding: 0;
	}
}

@media (max-width: 415px) {
	.desktop_menu{display: none;}
	.logo-mitsu {
	    max-width: 50% !important;
	    display: block;
	    margin-top: 0px;
	    margin-left: 25% !important;
	}
	.logo-cleansui {
		max-width: 20%;
	    display: block;
	    margin-left: 40%;
	}
}