<div class="velaContent velaContentTitle">
	<h4 class="velaFooterTitle">Đăng ký nhận tin khuyến mãi</h4>
	<div class="newsletterDescription">Nhận thông tin khuyến mãi sớm nhất qua email</div>
</div>
<div class="velaContent velaContentForm">
	<div class="newsletter-footer">
		<form class="cmxform" id="newsletters" method="post">
			<div class="control"><input name="newsletter" type="email" id="newsletter" placeholder="Đăng ký nhận bản tin" class="input-text email email-newsletter"></div>
			<div class="actions"><button class="button btn-submit submit-newsletter action" title="Subscribe" type="submit">Đăng ký</button></div>
			
		</form>
	</div> 
</div>

<script>
$().ready(function() {
		// validate signup form on keyup and submit
		$("#newsletters").validate({
			rules: {
				newsletter: {
          required: true,
					checkEmailExist: true,
        }
			},
			messages: {
				newsletter:
        {
          required: "Email không được để trống!",
					checkEmailExist: "Email đã tồn tại!",
        },
			},
			submitHandler: function(form) {
				var email = document.getElementById("newsletter").value;
		    $.ajax({
		        url:"/api/subscribe",
		          type: "POST",
		          data:{email:email},
		          success: function(response) {
                toastr.success("Đăng ký nhận bản tin thành công!");

		          }            
		    });
		  },
		});
		$.validator.addMethod("checkEmailExist", function(value, element) {
      var isSuccess = false;
		  $.ajax({
   			    type: "GET",
   	    	  url: '/api/validate-email?email='+value,
            async: false,
   	        success:function(result){
              if(result?.statusCode == 200){
                isSuccess = true;
              }
              else{
                isSuccess = false;
              }
   	        },
            error: function (xhr, ajaxOptions, thrownError) {
              isSuccess = false;
            }
      });
      return isSuccess;
		}, "Email đã tồn tại!");
});
toastr.options = {
  "closeButton": true,
  "newestOnTop": false,
  "progressBar": true,
  "positionClass": "toast-bottom-right",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}

</script>