<div class="block">
	<div class="menu_slider">
		<div class="left_product_menu">
			<div class="product_menu" id="product_menu">
			{{> productmenu}}
			</div>
		</div>
		<div class="slider">
          {{>slider}}
		</div>
	</div>
</div>
<div class="block">
	<div class="content_left">
		

		<div class="new_product">
			<div class="block_new_product">
				{{>newproducts}}
			</div>
		</div>
	</div>
	<div class="content_right">
		<div class="slider" id="slider">

    	</div>
		<div id="clear"></div>
		<div class="hotproduct">
			<div class="block-title">
				<h3><a href="#">Sản phẩm hot</a></h3>
			</div>
			{{>hotproducts}}
			<div class="block">
				</div>
					{{> hotproductcats}}
				</div>
				<div id="clear"></div>
			</div>
		</div>
	</div>
</div>





