<div class="block">
	<div class="menu_slider">
		<div class="left_product_menu">
			<div class="product_menu" id="product_menu">
				{{> productmenu}}
			</div>
		</div>
		<div class="slider">
			{{>slider}}
		</div>
	</div>
</div>
<div class="block">
	<div class="hot_product">
		<div class="cdz-block-title">
			<p class="b-title">Sản phẩm bán chạy</p>
		</div>
		<div>
			{{>hotproducts}}
		</div>
		<div id="clear"></div>
	</div>
</div>
<div class="block">
	{{>hotproductcatsv2}}
</div>
<div class="block hotnews">
	{{>hotnews}}
</div>
