<div id="main_nav">
    <div class="category_title">
        <div class="title_item">Danh mục sản phẩm</div>
    </div>
  <div id="smoothmenu1" class="ddsmoothmenu">
         <ul>
            {{{productmenu}}}
        </ul>
    </div>
</div>