<div class="breadcrumbs">
	<div id="bread">
		<ul class="items">
			<li class="item homes"><a href="/">Trang chủ</a></li>
			<li class="item"><a href="/{{{contents.seo_url}}}">{{{details.name}}}</a></li>
		</ul>
	</div>
</div>
<div class="block">
	<div class="left_menu">
		<div class="product_menu detail_menu">
    		{{> productmenu}}
		</div>
		<div class="new_product">
			<div class="block_new_product">
				{{>newproducts}}
			</div>
		</div>
	</div>
	<div class="page_content">
		<div class="main_news">

		</div>
		<div class="product_content">
			{{{details.content}}}
		</div>
	</div>
</div>