<div class="block">
	<div class="menu_slider row">
		<div class="slider">
			{{>slider}}
		</div>
	</div>
</div>
<div class="container">
	<div class="block">
		{{>productcat}}
	</div>
	<div class="block hotnews">
		{{>hotnews}}
	</div>
</div>