<div class="header-left">
  <div id="logo">
    <a href="/">
      <img class="img-responsive" alt="Your Store" title="Giày đá bóng chính hãng" src="/static/{{{siteinfo.customer}}}/images/systems/{{siteinfo.logo}}">
    </a>
  </div>
</div>
<div class="right-block">
<div class="search-cart">		
  <div data-block="minicart" class="minicart-wrapper">
      <a class="action showcart" href="#" onclick="location.href='/gio-hang';">
          <span class="text">Giỏ hàng</span>
          <span class="counter qty empty" data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
              <span class="counter-number" id="cart-total">0</span>
              <span class="counter-label">
              </span>
          </span>
      </a>
  </div>
</div>
</div>