<div id="main_nav">
  <div id="smoothmenu1" class="ddsmoothmenu">
         <ul>
            {{{productmenu}}}
        </ul>
    </div>
</div>
<script>
    $(document).ready(function(){
        var boxWidth = 450;
        $(".product_menu").hover(function(){
            let menuheight = document.getElementById('smoothmenu1').offsetHeight
            if(menuheight>310){
                $(".product_menu").animate({
                    height: menuheight
                });
            }
        });
        $(".product_menu").mouseleave(function(){
            $(".product_menu").animate({
                height: 310,
            });
        });
    });
</script>
