<div id="main_nav">
    <div class="cdz-block-title">
		<p class="b-title">Danh mục</p>
    </div>
    <div id="smoothmenu1" class="ddsmoothmenu">
         <ul>
            {{{productmenu}}}
        </ul>
    </div>
</div>
