<div id="main_nav">
    <div class="sale_title">
		  <h3>Danh mục sản phẩm</h3>
    </div>
    <div id="smoothmenu1" class="ddsmoothmenu left_product_menu">
         <ul>
            {{{productmenu}}}
        </ul>
    </div>
</div>
