<div class="block">
	<div class="slider" id="slider">
          {{>slider}}
    </div>
    <div id="clear"></div>
</div>

<div class="block">
	<div class="best_seller">
		{{> bestseller}}
	<div>
    </div>
		{{> hotproductcats}}
	</div>
	<div id="clear"></div>
</div>
<div class="block">
	<div class="new_news">
	</div>
</div>