<div id="main_nav">
  <div id="smoothmenu1" class="ddsmoothmenu">
         <ul>
            {{{productmenu}}}
        </ul>
    </div>
</div>
<script>
    let he = document.getElementById('main_nav').offsetHeight
    document.getElementById('product_menu').setAttribute("style","height:"+he+"px");
</script>
