<div class="bread_images" style="background: url(/static/template1/images/news/background-createtemplate.png) no-repeat center center transparent;background-size: cover;">
	<div class="container">
		<div class="breadcrumb">
			<h1  class="title_page">Hoàn thành đăng ký dùng thử</h1>
				<nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Xác nhận đăng ký dùng thử</li>
                    </ol>
                </nav>
		</div>
	</div>
</div>
<div class="list_contact">
	<div class="container">
		<div class="row">
			<div class="thank_trial">
			<img src="/images/thankorder.png">
			<p>Cảm ơn bạn đã đặt quan tâm tới sản phẩm của chúng tôi</br>Nhân viên của chúng tôi sẽ liên hệ trong 15' giờ làm việc để tạo tài khoản</p>
			</div>

		</div>
	</div>
</div>