<h3 class="product_category_title">Khách hàng tiêu biểu</h3>
<div class="product_category_line">
<span class="product_category_inline">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
</div>
<div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                    <li><img src="/uploads/vus.jpg"></li>
                    <li><img src="/uploads/vietstart.jpg"></li>
                    <li><img src="/uploads/logo-skx.jpg"></li>
                    <li><img src="/uploads/LogoVietcom.png"></li>
                    <li><img src="/uploads/L39572037800.gif"></li>
                    <li><img src="/uploads/Logo_lkzh4i.png"></li>
                    <li><img src="/uploads/logo-tiki.png"></li>
                    <li><img src="/images/manulife.png"></li>
                    <li><img src="/images/marico.png"></li>
                    <li><img src="/images/foody.jpg"></li>
                    <li><img src="/images/prudential.jpg"></li>
                    <li><img src="/images/vascara.png"></li>
                    <li><img src="/images/kangaroo.jpg"></li>
                    <li><img src="/images/ocb.png"></li>
                    <li><img src="/images/bizdirect.png"></li>
                    <li><img src="/images/goldbamboo.png"></li>
                    <li><img src="/images/lisolutiuon.png"></li>
                    <li><img src="/images/newon.png"></li>
                    <li><img src="/images/smedia.jpg"></li>
                    <li><img src="/images/suckhoexanh.png"></li>
                    <li><img src="/images/tataki.jpg"></li>
                    <li><img src="/images/vinatrading.jpg"></li>
                    <li><img src="/images/vitax.png"></li>
                    <li><img src="/images/zulinh.png"></li>
                    </ul>
                </div>
                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
</div>
<script type="text/javascript">

</script>