<div class="widget widget-categories">
    <h3 class="widgettitle">Danh mục sản phẩm</h3>
</div>
<div class="product_category">
    <ul>
        <li class="product_menu_item"><span><a href="/san-pham-khuyen-mai">Sản phẩm đang khuyến mãi</a><i class="fa fa-caret-right"></i></span></li>
        <li class="product_menu_item"><span><a href="/san-pham-moi">Sản phẩm mới</a><i class="fa fa-caret-right"></i></span></li>
        <li class="product_menu_item"><span><a href="/san-pham-ban-chay">Sản phẩm hot</a><i class="fa fa-caret-right"></i></span></li>
        {{{productmenu}}}
    </ul>
</div>

<div class="new_product">
	<div class="block_new_product">
		{{>newproducts}}
	</div>
</div>