<div class="block">
	<div class="breadcrumbs product_cat_breadcrumb">
	<div id="bread">
		<ul class="items">
			<li class="item home"><a href="/">Trang chủ</a></li>
			<li class="item product"><strong>Trang lổi</strong></li>
		</ul>
	</div>
</div>
	<div class="container">
	<div class="left_menu">
    	{{>left_slidebar}}
	</div>
	<div class="content_detail">
		<div class="thank_order">
			<div>
				<a href="/"><img src="/images/404.png"></a>
			</div>
		</div>
	</div>
	</div>
</div>