<div class="block">
	<div class="menu_slider row">
		<div class="slider" id="slider">
			{{>slider}}
		</div>
	</div>
</div>
<div class="container">
	<div class="block">
		{{>policies}}
	</div>
</div>

<div class="container">
	<div class="block">
		{{>hotproducts}}
	</div>
</div>
<div class="elementor-shape elementor-shape-top" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
	<path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
  </svg>
</div>
{{!-- <div class="container">
	<div class="block_hot_product">
		{{>hotproducts}}
	</div>
</div> --}}
<div class="testimonial_bg">
	<div class="container">
		<div class="block_testimonials">
			{{>testimonials}}
		</div>
	</div>
</div>
