<div class="block">
	<div class="menu_slider row">
		<div class="slider" id="slider">
			{{>slider}}
		</div>
	</div>
</div>
<div class="container">
	<div class="block">
		{{>policies}}
	</div>
</div>
<div class="container">
	{{>hotproducts}}
</div>
<div class="container">
	<div class="ads">
	<ul>
	{{#each (filterAds advertises 'top') as |advertise|}}
		<li>
			<a href="{{advertise.url}}"><img src="{{../base_url}}/static/{{advertise.image_path}}"></a>
		</li>
	{{/each}}
	</ul>
	<div id="clear"></div>
	</div>
</div>
<div class="container">
	{{>newproduct1}}
</div>
<div class="container hot_new">
	{{>hotnews}}
</div>



{{!-- <div class="testimonial_bg">
	<div class="container">
		<div class="block_testimonials">
			{{>testimonials}}
		</div>
	</div>
</div> --}}
