
<div class="breadcrumbs product_cat_breadcrumb">
	<div id="bread">
		<ul class="items">
			<li class="item home"><a href="/">Trang chủ</a></li>
			<li class="item product"><strong><a href="/{{{contents.seo_url}}}">{{{details.name}}}</a></strong></li>
		</ul>
	</div>
</div>
<div class="page_block">
	<div class="left_menu">
    	{{>left_slidebar}}
	</div>
	<div class="content_detail_news">
		{{{details.content}}}
	</div>
</div>
