<!-- Event snippet for Lượt mua hàng conversion page -->
<script>
  gtag('event', 'conversion', {
      'send_to': 'AW-16897689923/_OhgCJC3z6MaEMOSufk-',
      'value': 350000.0,
      'currency': 'VND',
      'transaction_id': ''
  });
</script>

<div class="container">
<div class="block">
	<div class="left_menu">
		<div class="new_product">
			<div class="block_new_product">
				{{>newproducts}}
			</div>
		</div>
	</div>
	<div class="content_detail">
		<div class="main_news">
			<div class="breadcrumbs">
				<div id="bread">
					<ul class="items">
						<li class="homes"><a href="/">Trang chủ</a></li>
						<li class="homes"><a href="#">Hoàn thành đơn hàng</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="thank_order">
			<div>
				<img src="/images/thankorder.png">
				<p>Cảm ơn bạn đã đặt quan tâm tới sản phẩm của chúng tôi</br>Nhân viên của chúng tôi sẽ liên hệ trong 1 giờ làm việc để xác nhận đơn hàng</p>
			</div>
		</div>
	</div>
</div>
</div>