<!-- Event snippet for Lượt mua hàng conversion page -->
<script>
	const totalmonney = localStorage.getItem("totalmonney");
	const phone = localStorage.getItem("phone");
				gtag('event', 'conversion', {
								'send_to': '{{siteinfo.gtag_id}}',
								'value': Number(totalmonney),
								'currency': 'VND',
								'transaction_id': new Date().getTime(),
								'user_data': {
									'phone_number': phone.replace(/(0|84|^\+84)/,"+84"),
								},
							});
</script>

<div class="container">
<div class="block">
	<div class="left_menu">
		<div class="new_product">
			<div class="block_new_product">
				{{>newproducts}}
			</div>
		</div>
	</div>
	<div class="content_detail">
		<div class="main_news">
			<div class="breadcrumbs">
				<div id="bread">
					<ul class="items">
						<li class="homes"><a href="/">Trang chủ</a></li>
						<li class="homes"><a href="#">Hoàn thành đơn hàng</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="thank_order">
			<div>
				<img src="/images/thankorder.png">
				<p>Cảm ơn bạn đã đặt quan tâm tới sản phẩm của chúng tôi</br>Nhân viên của chúng tôi sẽ liên hệ trong 1 giờ làm việc để xác nhận đơn hàng</p>
			</div>
		</div>
	</div>
</div>
</div>