<div class="block">
	<div class="slider" id="slider">
          {{>slider}}
    </div>
    <div id="clear"></div>
</div>

<div class="block">
	<div class="new_product">
		<div class="block_new_product">
			<div class="newproducttitle">
				<p>Sản phẩm mới</p>
			</div>
			<div class="newproductcont">
				{{>newproducts}}
			</div>
		</div>
	</div>
	<div class="hot_product_cat">
		<div class="list_policy">
				<ul>
						<li class="col-lg-4 col-md-6 col-sm-6">
							<div class="wrap-banner">
								<img src="/images/giaonuoctannhacom/icon-1.png">
							</div>
							<div class="wrap-text-content">
								<h3 class="big-title">ĐÚNG GIỜ</h3>
								<span class="small-title">Luôn đúng hẹn, giao trong 2 tiếng.</span>
							</div>
						</li>
						<li class="col-lg-4 col-md-6 col-sm-6">
							<div class="wrap-banner imgcenter">
								<img src="/images/giaonuoctannhacom/icon-2.png">
							</div>
							<div class="wrap-text-content">
								<h3 class="big-title">ĐẠT CHẤT LƯỢNG</h3>
								<span class="small-title">Nhãn hiệu tin cậy, an tâm tận tay.</span>
							</div>
						</li>
						<li class="col-lg-4 col-md-6 col-sm-6">
							<div class="wrap-banner">
								<img src="/images/giaonuoctannhacom/icon-3.png">
							</div>
							<div class="wrap-text-content">
								<h3 class="big-title">TIỆN LỢI</h3>
								<span class="small-title">Dễ dàng mua hàng, đặt hàng thuận tiện.</span>
							</div>
						</li>
					</ul>
		</div>
	<div>
    </div>
		{{> hotproductcats}}
	</div>
	<div id="clear"></div>
</div>
<div class="block">
	<div class="new_news">
	</div>
</div>