<div class="block">
	<div class="slider" id="slider">
          {{>slider}}
    </div>
    <div id="clear"></div>
</div>

<div class="block">
	<div class="new_product">
		<div class="block_new_product">
			<div class="newproducttitle">
				<p>Sản phẩm mới</p>
			</div>
			<div class="newproductcont">
				{{>newproducts}}
			</div>
		</div>
	</div>
	<div class="hot_product_cat">
	<div>
    </div>
		{{> hotproductcats}}
	</div>
	<div id="clear"></div>
</div>
<div class="block">
	<div class="new_news">
	</div>
</div>