<div class="block">
	<div class="left_menu">
		<div id="product_menu" class="product_menu detail_menu">
    		{{> productmenu}}
		</div>
		<div class="new_product">
			<div class="block_new_product">
				{{>newproducts}}
			</div>
		</div>
	</div>
	<div class="content_detail">
		<div class="main_news">
			<div class="breadcrumbs">
				<div id="bread">
					<ul class="items">
						<li class="homes"><a href="/">Trang chủ</a></li>
						<li class="homes"><a href="#">Trang lổi</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="thank_order">
			<div>
				<a href="/"><img src="/images/404.png"></a>
			</div>
		</div>
	</div>
</div>