    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Bài viết</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Trang chủ/</a></li>
                        <li class="homes"><a href="/{{{contents.seo_url}}}">{{{details.name}}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div class="about-box-main">
    <div class="container">
		{{{details.content}}}
	</div>
</div>