* {
    margin: 0;
    padding: 0;
}
body {
    background: #fff none repeat scroll 0 0;
    color: #333333;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.8em;
    margin: 0 !important;
    overflow-x: hidden;
    padding: 0 !important;
    position: relative;
    width: 100%;
}
#top {
    background: #efefef none repeat scroll 0 0;
    float: left;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #000;
}
#logo{margin-bottom: -70px;}
#top_mobile{display: none;background: #111111 none repeat scroll 0 0;
    float: left;
    text-align: center;
    width: 100%;}
.header-top-left {
    float: left;
    width: auto;
}
.header-top-left ul li{list-style: none;float: left;margin: 2px 0 2px 0 ;font-size:13px}
.header-top-left ul li a{color: #333;font-weight: 500;text-transform: uppercase;}
.header-top-left ul li a span{color: #f25862;font-weight: 500;text-transform: uppercase;}
.header-top-left ul li i{margin-right: 4px;}
.header-left {
    float: left;
    padding: 0;
    width: auto;
}
.tab-title {
    border-top: 1px solid #ddd;
    margin-top: 30px;
    text-align: center;
}
.tab-title h4 {
    border-left: 3px solid #000;
    padding: 15px 0 10px;
    margin: 0;
    max-width: 235px;
    text-transform: uppercase;
    font-weight: normal;
}
.tab-title h4 .word2 {
    display: block;
    font-size: 30px;
    color: #9d9d9d;
    line-height: 50px;
}

.center-block{float: right;padding: 5px 0; margin-right: 30px;}
.center-block ul li{
    list-style: none;
    float: left;
    margin-left: 15px;
    padding: 4px 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;}
.center-block ul li a{color: #333;font-weight: 400;font-size: 14px;}
.center-block ul li:HOVER{background: #ff911d}
.center-block ul li:HOVER a{color: #fff}
#navition{background: #e5e5e5}
.ul_mainmenu{margin-bottom: 0;margin-left: 170px;}
.block{margin-top: 10px}
.right-icon{display: none}
.nav-pills li ul li{list-style: none;border-top: 1px solid #eee;padding: 6px 0 6px 10px;}
.nav-pills li ul li a{color: #23527c;font-size: 12px !important;}
.nav-pills li ul li:first-child{margin-top: 7px;}
#slider{overflow: hidden;position: relative;}
.product_images{text-align: center;}
.product_item .product_images img{max-width: 100%;height: 220px;}
.product_image li{list-style: none;}
.productcat_title{
    background: url("../images/bg-title-block.png") repeat-x left bottom transparent;
    padding: 7px 0;margin: 10px 0;overflow: hidden;
    padding-bottom: 12px;
    margin-bottom: 20px;
}
.viewall{float: right;width: 30%;text-align: right;padding: 0 10px;}
.productcat_name{width: 70%;float: left;font-size: 15px;font-weight: normal}
.viewall a{font-style: italic;color: #43b728 !important;text-transform: capitalize !important;font-size: 11px !important;font-weight: 400 !important;}
.productcat_title h2{font-size: 14px;text-transform: uppercase;padding: 0 7px;font-weight: 500;color: #333}
.product_item{background: #fff;margin-bottom: 10px;}
.product_item .product_detail{padding: 7px;min-height: 91px;}
.product_item .product_detail .product_name{border-bottom:1px solid #ccc; }
.product_item .product_detail .product_price{color: #e25d62;font-size: 14px;margin-top: 5px;font-weight: 500;}
#clear{clear: both;}
.new_product{float: left;width: 20%;}
.new_product .ad{
    padding: 1px;
}
.new_product .ad img{width: 100%;}
.hot_product_item{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: block;
    overflow: hidden;
}
.hot_product_item .product_images{
    width: 30%;float: left;
    padding: 3px; border: 1px solid #ddd; 
}
.hot_product_item .product_images img{width: 100%;max-height: 80px;}
.hot_product_item .product_detail{width: 68%;float: right;}
.hot_product_item .product_detail .product_name{line-height: 17px;}
.hot_product_item .product_detail .product_name a{font-size: 12px;color: #333;}
.hot_product_item .product_detail .product_price p{color: #e25d62;font-size: 12px;font-weight: 500;}
.list_news_content{
    position: relative;
    height: 220px;
}
.list_news_content .images{
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.list_news_content .images img{width: 100%;}
.list_news_content .cont{position: absolute;left: 0px; top: 145px;z-index: 100;margin-top: 7px;}
.list_news_content .cont h4 a{font-size: 13px;font-weight: 400;color: #000;}
.fist_news_content h4{margin-top: 7px;}
footer .footer-top {
    background: #43b728;
    padding: 20px 0;
    width: 100%;
    position: relative;
}
footer{
    background: url("../images/footer-bg1.jpg") no-repeat center top transparent;
    background-size: cover;
}
.footer-container{

    padding: 25px 0;
    
    
}
.footer-container p a{color: #fff}
.footer-container p a:HoVER{color: #23527c}
.footer-container .fmn{color: #fff;font-weight: 500;text-transform: uppercase;display: block;margin: 10px 0;}
.footer_address{color: #fff;font-size: 14px;}
.facebook_like{overflow: hidden;display: block;margin: 15px 0;}
.newletter-title{color: #fff;font-size: 17px;text-transform: uppercase;font-weight: 500;padding: 5px 15px;}
#form_subscribe {
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
}
#subscribe_email {
    background: #fff;
    border: 0;
    font-size: 13px;
    color: #999999;
    display: block;
    padding: 0 120px 0 10px;
    height: 35px;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}
#form_subscribe .btn {
    background: #ff911d;
    border: medium none;
    border-radius: 0 15x 15x 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -khtml-border-radius: 0 5px 5px 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    height: 35px;
    line-height: 37px;
    padding: 0 15px;
    position: absolute;
    right: 0;
    text-transform: capitalize;
    top: 0;
}
.text-about{
    margin: 0 0 20px;
    float: left;
    width: 100%;
    padding: 10px 20px 5px 5px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 2px solid #43b728;
}
.right-block {
    float: right;
}
.search {
    float: right;
    position: relative;
    margin: 7px 0;
    width: 550px;
    border: 1px solid #ddd;

}
.mobimenuicon{
    display: none;
    width: 50px;
    height: 44px;
    padding: 14px;
    float: left;
}
.mobimenuicon::before, .mobimenuicon::after {
    content: '';
    display: block;
    background: #fff;
    height: 2px;
}
.mobimenuicon span {
    background: #fff;
    display: block;
    height: 2px;
    margin: 6px 0;
}
#header-search .form-control {
    border: none;
    background: #ffffff;
    color: #666666;
    font-size: 12px;
    font-weight: 400;
    height: 32px;
    text-align: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    width: 100%;
}
#header-search .btn-default {
    border: medium none;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    line-height: 33px;
    padding: 0 15px;
    position: absolute;
    right: 0;
    text-transform: capitalize;
    top: 0;
}
.left_menu{
    float: left;
    width: 20%;
    background: #fff;
    border-radius: 2px;
    min-height: 270px;
    z-index: 10000 !important;
    position: relative;
}
.content_detail {
    width: 79%;
    float: right;
}
.content_detail img{max-width: 100% !important;}
.detail_menu{width: 100% !important;}
.content_detail{background: #fff;padding: 10px;}
.product_image{width: 35%;float: left;}
.product_info{width: 62%;float: right;}
.product_image .image{width: 100%;}
.product_image .image img{width: 100%}
.product_images_list img{width: 80px !important;margin: 3px 3px 10px 3px;}
.product_images_list{border: 1px solid #ccc;padding: 2px;width: 100%;height: 70px;overflow: hidden;margin-top:5px;}
#top_mobile .hotline a{color: #fff;}

.breadcrumbs li {
    display: inline-block;
    background-color: transparent;
    padding-left: 30px;
    background-image: url("../images/bre-left.png");
    background-position: left center;
    background-repeat: no-repeat;
}
.breadcrumbs li.home {
    background-image: url("../images/bre-home-left.png");
    padding-left: 0;
    line-height: 24px;
    padding-left: 15px;
}
.breadcrumbs li a {
    background-image: url("../images/bre-right.png");
    background-position: right center;
    padding-right: 23px;
    color: #888;
}
.breadcrumbs li strong {
    outline: medium none;
    background-image: url("../images/bre-right.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 30px;
}
.breadcrumbs li + li {
    margin-left: -8px;
}
.breadcrumbs li a, .breadcrumbs li strong {
    display: block;
    line-height: 24px;
    font-weight: 400;
    color: #888;
    font-size: 12px;
}
.product_info h1 {
    border-bottom: 1px solid #e6e6e6;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 10px;
    padding-bottom: 20px;
    text-transform: capitalize;
    color: #666;
    font-weight: 500;
}
.policy ul li {
    border-bottom: 1px solid #e6e6e6;
    list-style: outside none none;
    padding: 10px 0;
}
.wrap-banner {
    color: #ff3c45;
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
    width: 25%;
}
.wrap-text-content {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    width: 73%;
}
.wrap-text-content h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    text-transform: uppercase;
}
.wrap-text-content span {
    color: #666666;
    font-size: 12px;
    font-style: italic;
    line-height: 21px;
}
.product_content img{max-width: 100% !important;}
.product_content_title{
    border-bottom: 2px solid #ff9000;
    display: block;
    overflow: hidden;
    margin:15px 0;
}
.product_content_tit{
    float: left;
    background: #ff9000;
}
.product_content_title p{
    padding:5px 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}
.tocart {
    border-radius: 3px;
    font-size: 14px;
    height: 46px;
    padding: 0 50px;
    position: relative;
    text-transform: uppercase;
    vertical-align: top;
    background: #ff3c45 none repeat scroll 0 0;
        background-color: rgb(255, 60, 69);
    border-color: #ff3c45;
    font-weight: 600;
    color: #ffffff;
    border: 1px solid #ff3c45;
    cursor: pointer;
    display: inline-block;
}
.tocart:hover{
    background: #333;
    border:1px solid #333;
}
.choise_size{border-bottom: 1px solid #ddd;padding: 3px 0;margin:7px 0; }
.pro_detail ul li{
    list-style: none;
    border:1px solid #ccc;
    padding: 4px 4px;
    display: inline;
    font-size: 13px;
    color: #444;
    margin:1px;
    cursor: pointer;

}
.sizeactive{background: #ff911d;color: #fff !important;border:1px solid #ff911d !important}
.price{color: #bb0000;font-size: 22px;text-transform: uppercase;margin:10px 0; }
.instock, .outstock{color: #111;padding: 7px 0}
.instock span{color: #43b728}
.outstock span{color: red}
.product_cat {
    width: 79%;
    float: right;
}
.cat_image img{width: 100%;}
.cat_image{height: 210px;overflow: hidden;}
.list_news{min-height: 430px;}
.list_news a{color:#0b79bf;font-size: 15px;}
.content_page{padding: 7px 0;border-top: 1px solid #ccc;overflow: hidden;}
.content_page ul li{float: left;list-style: none;}
.content_page ul li a{padding: 4px 7px;border: 1px solid #333;margin: 3px;color: #444;}
.content_page ul li a:hover{background: #43b728;color: #fff}
.product_in_cart ul li{
    list-style: none;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
    display: block;
    overflow: hidden;
}
.product_in_cart .cart_image {
    width: 26%;
    float: left;
    padding: 3px;
    border: 1px solid #ddd;
}
.product_in_cart .cart_image img{
    width: 100%;
}
.product_in_cart .cart_detail {
    width: 70%;
    float: right;
}
.product_in_cart strong{text-align: right;float: right;font-size: 17px; font-weight: 500;}
.product_in_cart .cart_detail h5{font-size: 12px;font-weight: 500;}
.product_in_cart .cart_detail .price1{font-weight: 500;color: #25B430;font-size: 12px;}
.product_in_cart{border: 1px solid #ccc;padding: 5px;}
.product_in_cart .info_title{background: #000;color: #fff;padding: 7px 9px;font-size: 14px;text-transform: uppercase;}
.customer_info .form-group{
    margin: 12px 0;
    overflow: hidden;
}
.customer_info{margin-top: 30px;}
.customer_info .form-group input{
    padding: 4px 7px;
    height: 32px;
}
.customer_info .form-group label{
    font-weight: 500;
}
.checkbox{position: relative;}
.checkbox label{margin-left: 20px }
#showShipAddress{position: absolute;left: 0px;top: -2px}
.error{color: #ff0000;font-size: 12px;font-weight: 300;font-style: italic; }
.thank_order{text-align: center;}
.thank_order p{color: #ff911d;font-size: 17px;margin:20px 0; }
.product_menu_item ul{display: none;}
.nav-mobile .product_menu_item{
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
.product_menu_item a{color: #666}
.list_news_item{min-height: 390px; }
.list_news_item .cat_detail{border-bottom:1px solid #ccc;padding-bottom: 5px;}
.fa-caret-right{position: absolute;right: 10px;top: 7px;color: #25B430}

.mainmenu_item{list-style: none;float: left;position: relative;padding: 20px 0;}
.mainmenu_item:hover{}
.mainmenu_item span{padding: 5px 4px}
.mainmenu_item span a{color: #000;text-transform: uppercase;font-weight: 450;padding: 7px 9px;position: relative;}
.mainmenu_item span a:hover{background: #fff;color: #0083c1;}
.mainmenu_item ul{display: none;}
.top-cart {
    color: #2d2d2d;
    text-align: left;
    float: right;
    position: relative;
}
.top-cart .button-cart {
    background: url("../images/icon-cart.png?") no-repeat scroll 50% 50%;
    border-right: 1px solid #cecece;
    border-left: 1px solid #cecece;
    display: block;
    height: 60px;
    position: relative;
    width: 50px;
}
.top-cart .button-cart #cart-total {
    display: block;
    height: 18px;
    padding: 0 5px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    background: #000;
    position: absolute;
    top: 11px;
    right: 5px;
}







