<div class="main_news">
	<div class="news_center">
		<div class="home-aboutus">
			<div class="container">
				<div class="header-about">
					<div class="text-about"> THÔNG TIN </div>
						<div class="text-whoiam">
							LIÊN
							<span class="red">HỆ</span>
						</div>
					</div>
				</div>
			</div>
		<div class="row d-flex">
			<div class="col-sm-6">
				<div class="list_contact">
					<h3>TRỤ SỞ HỒ CHÍ MINH</h3>
					<h4>CÔNG TY CỔ PHẦN HÓA ĐƠN ĐIỆN TỬ VI NA</h4>
					<p>
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						<span style="color: #000000;">41A Nguyễn Phi Khanh, Phường Tân Định, Quận 1, TP HCM</span>
					</p>
					<p>
					<i class="fa fa-phone" aria-hidden="true"></i>
						<span style="color: #000000;">
						Điện thoại:
							<strong>0923 274 747</strong>
						</span>
					</p>
					<p>
					<i class="fa fa-phone" aria-hidden="true"></i>
						<span style="color: #000000;">
						Hỗ trợ kỹ thuật:
							<strong>19006276</strong>
						</span>
					</p>
					<p>
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<span style="color: #000000;">Email: info@smartvas.vn</span>
					</p>
				</div>
				
			</div>
			<div class="col-sm-6">
				<div class="list_contact">
					<h3>CHI NHÁNH HÀ HỘI</h3>
					<h4>CÔNG TY CỔ PHẦN HÓA ĐƠN ĐIỆN TỬ VI NA</h4>
					<p>
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						<span style="color: #000000;">Tòa Nhà AC, 78 Duy Tân, Cầu Giấy, Hà Nội</span>
					</p>
					<p>
					<i class="fa fa-phone" aria-hidden="true"></i>
						<span style="color: #000000;">
						Điện thoại:
							<strong>0923 274 747</strong>
						</span>
					</p>
					<p>
					<i class="fa fa-phone" aria-hidden="true"></i>
						<span style="color: #000000;">
						Hỗ trợ kỹ thuật:
							<strong>19006276</strong>
						</span>
					</p>
					<p>
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<span style="color: #000000;">Email: info@smartvas.vn</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>