<div class="information-group">
  <div class="footer_address">
    <h3>{{{siteinfo.company_name}}}</h3>
  </div>
  <div class="footer_address">
    {{{siteinfo.customer_address}}}
  </div>
  <div class="footer_address">
    <i class="fa fa-phone" aria-hidden="true"></i>
    Điện thoại: {{siteinfo.customer_phone}}
  </div>
  <div class="footer_address">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    Email: {{siteinfo.customer_email}}
  </div>
</div>
<div class="footer-content-bottom">
  <div class="container">
    <p>Copyright by Hoang Viet.</p>
  </div>
</div>