	<div class="best_seller_product">
			<div class="tab-title">
        <h4>
          <span class="word1">Sản phẩm</span>
          <span class="word2">Bán chạy</span>
        </h4>
			</div>
			<div class="newproductcont">
        <ul id="tabs-v" class="tabs">
          {{#each productmoreinfos as |productcat|}}
              {{#each productcat.default_value as |infodetais|}}
                  <li data-title="{{{infodetais.default_name}}}">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc luctus lobortis sapien, ut rhoncus dui sagittis vel. Donec rhoncus convallis justo, in placerat nibh auctor ut. Aliquam erat volutpat. Morbi finibus velit et erat vehicula, facilisis viverra magna euismod. Nullam consequat a justo id luctus. Sed vitae maximus massa. Integer ligula ligula, semper ac feugiat vel, viverra sed nisi. In commodo lacus non orci faucibus mollis. Maecenas sit amet gravida leo, non ornare nisl. Etiam rhoncus dui vitae magna pulvinar, eu semper ex porttitor. Nulla facilisi. Donec ac tortor arcu. Nulla pharetra suscipit nulla. Ut maximus justo vitae libero fermentum efficitur. Aliquam mattis quam erat, eget varius tortor cursus eget.</p>
                  </li>
              {{/each}}
          {{/each}}
        </ul>
			</div>
	</div>
  <script>
		document.addEventListener('DOMContentLoaded', () => {
			// create horizontal tabs
			new VanillaTabs({
				'selector': '#tabs-h',	// default is ".tabs"
				'type': 'horizontal', 	// can be horizontal / vertical / accordion
				'responsiveBreak': 840,	// tabs become accordion on this device width
				'activeIndex' : 0				// active tab index (starts from 0 ). Can be -1 for accordions.
			});

			// create vertical tabs
			new VanillaTabs({
				'selector': '#tabs-v',	// default is ".tabs"
				'type': 'vertical', 		// can be horizontal / vertical / accordion
				'responsiveBreak': 840,	// tabs become accordion on this device width
				'activeIndex' : 1				// active tab index (starts from 0 ). Can be -1 for accordions.
			});

			// createaccordion
			new VanillaTabs({
				'selector': '#tabs-a',	// default is ".tabs"
				'type': 'accordion', 		// can be horizontal / vertical / accordion
				'responsiveBreak': 840,	// tabs become accordion on this device width
				'activeIndex' : -1			// active tab index (starts from 0 ). Can be -1 for accordions.
			});

		});
	</script>
  <script type="text/javascript" src="/layout/{{layout}}/js/vanilla-tabs.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/layout/{{layout}}/css/vanilla-tabs.min.css" media="screen" />
  