<div class="header-left">
  <div id="logo">
    <a href="/">
      <img class="img-responsive" alt="Your Store" title="Giày đá bóng chính hãng" src="/static/{{{siteinfo.customer_username}}}/images/systems/{{siteinfo.logo}}">
    </a>
  </div>
</div>

<div class="right-block">
  <div class="top-cart">
    <div id="cart" class="btn-group">
      <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="button-cart btn btn-link dropdown-toggle" onclick="location.href='/gio-hang';">
        <span id="cart-total">0</span>
      </button>
    </div>
  </div>
</div>
<div class="center-block">
  <div class="search">
      <div id="header-search">
              <input type="text" name="search" value="" placeholder="Nhập sản phẩm cần tìm..." class="form-control input-lg" id="ime">
              <button type="button" class="btn btn-default btn-lg header-search-btn" onclick="DoSubmitSingleExts();"><i class="fa fa-search"></i>
              Tìm
              </button>  
      </div>         
  </div>            
</div>