<div class="block">
	<div class="menu_slider">
		<div class="slider">
			{{>slider}}
		</div>
	</div>
</div>
<div class="block">
	<div class="left_menu">
		<div id="product_menu" class="product_menu detail_menu">
			{{> productmenu}}
		</div>
		<div class="new_product">
			<div class="block_new_product">
				{{>newproducts}}
			</div>
		</div>
	</div>
	<div class="content_detail">
		<div class="about_us">
			<div class="title">
				<h1>Sản xuất Hộp gỗ, quà tặng Gỗ</h1>
			</div>
			<div class="about_content">
				<img src="{{hotpage.image_path}}{{hotpage.image}}" alt="Sản xuất Hộp gỗ, quà tặng Gỗ">
				<p>{{hotpage.detail.[0].desc}}</p>
			</div>
			<div class="about_content1">
				{{{hotpage.detail.[0].content}}}
			</div>
		</div>
	</div>
</div>