<div class="block">
	<div class="left_menu">
		<div class="product_menu detail_menu">
    		{{> productmenu}}
		</div>
		<div class="newproductcont">
			{{> newproducts}}
		</div>
	</div>
	<div class="content_detail">
		<div class="main_news">
			<div class="breadcrumbs">
				<div id="bread">
					<ul class="items">
						<li class="homes"><a href="/">Trang chủ</a></li>
						<li class="homes"><a href="#">Giỏ hàng</a></li>
					</ul>
				</div>
			
			</div>
		</div>
		<div class="customer_info">
			<div class="form-group">
					<label class="col-sm-3 control-label">Họ và Tên</label>
					<div class="col-sm-9"><input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" ng-model="name" required="true" ng-change="changeurl()"></div>
			</div>
			<div class="form-group">
					<label class="col-sm-3 control-label">Điện thoại</label>
					<div class="col-sm-9"><input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" ng-model="name" required="true" ng-change="changeurl()"></div>
			</div>
			<div class="form-group">
					<label class="col-sm-3 control-label">Email</label>
					<div class="col-sm-9"><input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" ng-model="name" required="true" ng-change="changeurl()"></div>
			</div>
			<div class="form-group">
					<label class="col-sm-3 control-label">Địa chỉ</label>
					<div class="col-sm-9"><input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" ng-model="name" required="true" ng-change="changeurl()"></div>
			</div>
			<div class="form-group">
					<label class="col-sm-3 control-label">Ghi chú</label>
					<div class="col-sm-9"><input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" ng-model="name" required="true" ng-change="changeurl()"></div>
			</div>
			<div class="form-group">
					<label class="col-sm-3 control-label"></label>
					<div class="col-sm-9"><a href="#">Xác nhận</a></div>
			</div>
		</div>
	</div>
</div>