<div class="block">
	<div class="menu_slider">
		<div class="slider">
			{{>slider}}
		</div>
	</div>
</div>
{{adverttises}}
<div class="ads">
	<ul>
		{{#each (filterAds advertises 'top') as |advertise|}}
		<li class="left">
			<a href="#"><img src="/static{{advertise.image_path}}"></a>
		</li>
		{{/each}}
	</ul>
	<div id="clear"></div>
</div>

<div class="block">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="main_product_center">
				{{>hotproductcats}}
			</div>
		</div>
	</div>
</div>
<div class="block">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6">
			<div class="_about_title">Giới thiệu</div>
			<div class="_about_content">
				<img src="/static{{advertise.image_path}}">
				Công ty Châu Anh chuyên cung cấp dòng sàn phẩm ngoại thất mây nhựa, dù che, bạt che nắng cao cấp. Mr Vũ ( 0909472479) email: ngocvu135.vn@gmail.com
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			{{>hotnews}}
		</div>
	</div>
</div>