<div class="breadcrumbs">
	<div id="bread">
		<ul class="items">
			<li class="item homes"><a href="/">Trang chủ</a></li>
			<li class="item">Liên hệ</li>
		</ul>
	</div>
</div>
<div class="contact_form">

</div>