<div class="information-group">
  <div class="footer_address">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    Địa chỉ: {{siteinfo.customer_address}}
  </div>
  <div class="footer_address">
    <i class="fa fa-phone" aria-hidden="true"></i>
    Điện thoại: {{siteinfo.customer_phone}}
  </div>

  <div class="footer_address">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    Email: {{siteinfo.customer_email}}
  </div>
</div>
<div class="footer-content-bottom">
  <div class="container">
    <p>Copyright © 2016 <a href="https://softnests.vn">www.softnests.vn.</a> All rights reserved.</p>
  </div>
</div>