<div class="breadcrumbs">
	<div id="bread">
		<ul class="items">
			<li class="homes"><a href="/">Trang chủ</a></li>
			<li class="homes"><a href="/{{{contents.seo_url}}}">{{{details.name}}}</a></li>
		</ul>
	</div>
</div>
<div class="block">
	<div class="left_menu">
    	{{>left_slidebar}}
	</div>
	<div class="product_cat">
		<div class="product_content">
			{{{details.content}}}
		</div>
	</div>
</div>